


# import /vendor/etc/init/android.hardware.gatekeeper-service.trusty.rc
# import /vendor/etc/init/android.hardware.security.keymint-service.citadel.rc
# import /vendor/etc/init/android.hardware.security.keymint-service.rust.trusty.rc
# import /vendor/etc/init/android.hardware.weaver-service.citadel.rc
# import /vendor/etc/init/citadeld.rc

service prepdecrypt /system/bin/bash -c /system/bin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on early-init
    start vendor.gatekeeper_default
    start vendor.keymint.rust-trusty
    start vendor.keymint-citadel

on init
    wait /sys/devices/platform/11210000.usb/11210000.dwc3/driver 10
    setprop sys.usb.controller "11210000.dwc3"
    setprop sys.usb.configfs 1
    start servicemanager
    start hwservicemanager
    start vndservicemanager
    start vendor.boot-hal-1-2
    start vendor.authsecret_hal_aidl
    start vendor.drm-clearkey-service  
    start vendor.identity_hal 
    start vendor.oemlock_hal_aidl 
    start vendor.keymint.rust-trusty 
    start vendor.weaver_hal_aidl 
    start vendor.citadeld 
    start edgetpu_vendor_service 

on property:ro.crypto.state=encrypted
    start prepdecrypt