


# import /vendor/etc/init/android.hardware.gatekeeper-service.trusty.rc
# import /vendor/etc/init/android.hardware.security.keymint-service.citadel.rc
# import /vendor/etc/init/android.hardware.security.keymint-service.rust.trusty.rc
# import /vendor/etc/init/android.hardware.weaver-service.citadel.rc
# import /vendor/etc/init/citadeld.rc

service prepdecrypt /system/bin/bash -c /system/bin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on early-init
    start vendor.gatekeeper_default
    start vendor.citadeld

on property:hwservicemanager.ready=true
    setprop sys.boot_completed 1

on init
    wait /sys/devices/platform/11210000.usb/11210000.dwc3/driver 10
    setprop sys.usb.controller "11210000.dwc3"
    setprop sys.usb.configfs 1
    start vendor.boot-hal-1-2
    stop vendor.keymint.rust-trusty
    stop vendor.keymint-citadel
    stop keystore2
    start vendor.keymint.rust-trusty
    start vendor.keymint-citadel
    start keystore2

on property:ro.crypto.state=encrypted
    start prepdecrypt